h3 {
    color: blue;
    align-items: center;
}
.logo{
    height: 175px;
    width: 175px;
    margin-left: 20px;
}
#carouselExample{
    top:95px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 3rem !important;
    height: 3rem !important;   
}
li {
    list-style: none;
}
#accordionPanelsStayOpenExample{
    width: 75%;
    margin: 20px auto;
    font-size: 18px;
}
.message{
    color: white;
    font-size: 28px;
    margin: 24px;
}
.frmsrch{
    margin-left: 140px;
}
.figure-caption{
   font-size: 2em !important;
   color: black !important;
}
.tblaudio{
    width: 75%;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 5%;
}
.list-suppert li{
     list-style: upper-roman;
}
.call-us {
    text-align: center;
    font-size: 46px !important;
}
#myCarousel{
    margin-top: 1%;
}
.featurette-divider{
   margin: 1.5rem !important; 
}
.elementor-element .elementor-widget-container {
    transition: .3s,
    border .3s,
    border-radius .3s,box-shadow .3s,
    transform var(--e-transform-transition-duration,.4s)
}
@media only screen and (max-width: 600px) and (min-width: 380px) {
    .figure-caption{
      font-size: 1.3em !important;  
    }
    .tblaudio{
        width: 100%;
        margin: auto;
    }
  }