{% extends 'base.html' %}

{% block content %}


{% load static %}
<section class="vh-100" style="background-color: #f0ebf8;">
    <div class="container py-5 h-100">
        {% if user.is_authenticated %}
     
            
            <div class="container">
                <fieldset class="border rounded-3 p-3">
                
                    <legend class="float-none w-auto px-3">Add Upcoming Events</legend>
                    <br/>

                {% if submitted %}

                <div class="alert alert-success" role="alert">
                    Your Event Was Submitted Succefully!!!
                  </div>
                  <br/>
                  <a href="{% url 'add_event' %}">Add More Event</a>
                        

                    {% else %}

                        <form action="" method=POST>
                            {% csrf_token %}

                            {{ form.as_p }}

                            <input type="submit" value="Submit" class="btn btn-secondary">

                        </form>
                {% endif %}

                <br/><br/>	
                </fieldset>
                
        
            </div>
            <hr class="featurette-divider">
       

        {% else %}
        <h1>Sorry! You Must Be Logged In To View This Page...</h1>

        <a href="{% url 'login' %}">Login Here</a>
        {% endif %}
    </div>
    

</section>
{% endblock %}