{% extends 'base.html' %}

{% block content %}
<section class="vh-100" style="background-color: #f0ebf8;">
    <div class="container py-5 h-100">
        <h2>Events</h2>
    {% if event_count == 0 %}
        
        <div class="alert alert-success" role="alert" style="text-align: center;">
            <p class="lead">Currently there are no any event available</p>
        </div>
    {% else %}
        {% for event in event_list %}
            {% if event.approved %}
                <div class="card">
                    <div class="card-header" style="color: blue;">
                        {{ event }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Location: {{ event.location }}</h5>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action">Date: {{ event.event_date }}</li>
                            <li class="list-group-item list-group-item-action">Days Till Event: {{ event.Days_Till }}</li>
                            <li class="list-group-item list-group-item-action">Event Status: {{ event.Is_Past}}</li>
                            <li class="list-group-item list-group-item-action">Description:  {{ event.description}}</li>
                            <li class="list-group-item list-group-item-action">Confirmed: {% if event.approved %} Yes {% else %}  Not Yet  {% endif %}</li>
                            <li class="list-group-item list-group-item-action">Attendees: {{event.attendees}}</li>
                        </ul>
                    </div>
                {% if user.is_authenticated %}
                    {% if user == event.manager %}
                    <div class="card-footer text-muted">
                        
                        <a href="{% url 'update_event' event.id %}" style="color: blue;" class="btn btn-outline-secondary btn-sm">Update Event</a>
                        <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
                        
                        
                    </div>
                    {% endif %}  
            {% endif %}
                
                </div>
                <hr class="featurette-divider" style="width: 75% !important;">
            {% endif %}
            
        {% endfor %}
    
            
    {% endif %}
    </div>
</section>
{% endblock %}