{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    html {
    box-sizing: border-box;
    }
    
    *, *:before, *:after {
    box-sizing: inherit;
    }
    
    .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 8px;
    }
    
    .about-section {
      padding: 20px;
      text-align: center;
      background-color: #474e5d;
      color: white;
    }
    .mission-section{
      padding-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 15px;
      text-align: center;
      background-color: #474e5d;
      color: white;
    }
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }
    
    .button:hover {
    background-color: #555;
    }
    
    @media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
    }
    </style>
    <section class="" style="background-color: #f0ebf8;">
      <div class="mission-section">
          <h1>Our Mission</h1>
          <p>We are a non-profit religious organization. Our mission is to facilitate the spiritual growth of individuals and deepen their experience of God, while also bridging the gospel to all Ethiopian Orthodox Tewahedo Christian (EOTC) faith through spiritually-enriching service. </p> 
          
      </div>
      </section>

<section class="" style="background-color: #f0ebf8;">
    <div class="about-section">
        <h1>About Us</h1>
        <p>የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ለዘመናት የቆየውን ትውፊትና እሴት ለማስከበር፤ </p> 
        <p> ስለ ኢትዮጵያ ታሪክ፣ባህሎች፣ ቋንቋዎች እና ትውፊት የማህበረሰባችን ግንዛቤ ማሳደግ፣ </p>
        <p>እና ከሃይማኖታዊ ተግባሮቻችን ጋር የሚጣጣሙ ሌሎች ማህበራዊ አገልግሎቶችን ለመስጠት።</p>
    </div>
    
    <h2 style="text-align:center">OUR STAFF</h2>
    <div class="row">
        <div class="column">
        <div class="card">
            <img src="{% static 'website/img/core-img/aba_awoke.jpg' %}" alt="Aba Awoke" style="width:100%; ">
            <div class="container">
            <h6>መልአከ ሣህል አወቀ ተሰማ </h6>
            <p class="title">የቤተክርስቲያኑ አስተዳዳሪ</p>
            <!--<p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
            
            <p>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h5 class="accordion-header" id="headingOne">
                    <button class="button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Contact Info
                    </button>
                  </h5>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p><a href="mailto:financedbkg@gmail.com">financedbkg@gmail.com</a></p>
                      <a href="tel:+14045794456">(404) 579-4456</a>
                  </div>
                </div>                                
              </div>               
            </div>
            </p>
                  
            
            </div>
        </div>
        </div>
    
        <div class="column">
        <div class="card">
            <img src="{% static 'website/img/core-img/aba_girma.jpg' %}" alt="ቀሲስ ግርማ  ወልደ ኪዳን" style="width:100%;">
            <div class="container">
            <h6>ቀሲስ ግርማ  ወልደ ኪዳን</h6>
            <p class="title">የቤተክርስቲያኑ ዋና ጸሐፊ</p>
            <!--<p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
            <p>
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h5 class="accordion-header" id="headingOne">
                      <button class="button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">
                        Contact Info
                      </button>
                    </h5>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                      <p><a href="mailto:financedbkg@gmail.com">financedbkg@gmail.com</a></p>
                        <a href="tel:+14253299287">(425) 329-9287</a>
                    </div>
                  </div>                                
                </div>               
              </div>
            </p>
          
            </div>
        </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'website/img/core-img/boy.jpg' %}" alt="አቶ ታምሩ ወልደ ሚካኤል" style="width:100%;height:400px">
                <div class="container">
                <h6>አቶ ታምሩ ወልደ ሚካኤል</h6>
                <p class="title">የአብነት ትምህርት ሐላፊ</p>
                <!--<p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingOne">
                        <button class="button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">
                          Contact Info
                        </button>
                      </h5>
                      <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p><a href="mailto:financedbkg@gmail.com">financedbkg@gmail.com</a></p>
                          <a href="tel:+14253299287">(425) 329-9287</a>
                      </div>
                    </div>                                
                  </div>               
                </div>
                </p>
              
            </div>
            </div>
    
    
          </div>
          <div class="column">
            <div class="card">
                <img src="{% static 'website/img/core-img/girl.jpg' %}"alt="ወ/ሮ እስከዳር ጥላሁን"  style="width:100%;height:400px">
                <div class="container">
                <h6>ወ/ሮ እስከዳር ጥላሁን</h6>
                
                <p class="title">ሒሳብ ክፍል ሐላፊ</p>
                <!--<p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                <p>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h5 class="accordion-header" id="headingOne">
                        <button class="button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">
                          Contact Info
                        </button>
                      </h5>
                      <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p><a href="mailto:financedbkg@gmail.com">financedbkg@gmail.com</a></p>
                          <a href="tel:+12063536216">(206) 353-6216</a>
                      </div>
                    </div>                                
                  </div>               
                </div>
                </p>
              
                </div>
            </div>
            
            </div>
            <div class="accordion" style="width: 100%;">
      
              <figure class="figure">
              
                <figcaption class="figure-caption" style="padding-left: 30px;">የቦርድ አባላት | Board Members</figcaption>
              </figure>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      በአማርኛ ቋንቋ
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <ul>
                        <li><strong>1. መልአከ ሣህል አወቀ</strong>: የሰበካ ጉባኤው ሰብሳቢ እና የቤተ ክርስቲያኑ አስተዳዳሪ</li>
                        <li><strong>2. ቀሲስ ግርማ ወልደ ኪዳን</strong>: የደብሩ ዋና ጸሐፊ</li>
                        <li><strong>3. ቀሲስ አስተዋይ ኪዳኔ</strong>: የህንጻ ጥገና ክፍል  ሃላፊ</li>
                        <li><strong>4. ዲ/ን ወገን</strong>: የካህናት አገልግሎት</li>
                        <li><strong>5. አቶ ታምሩ ወልደ ሚካኤል</strong>: የአብነት ትምህርት ሐላፊ</li>
                        <li><strong>6. አቶ ዮናስ በየነ</strong>: ም/ሰብሰቢ እና ልማት ክፍል</li>
                        <li><strong>7. አቶ ብርሃኔ ወርቁ</strong>: ገንዘብ ክፍል እና የህዝብ ግንኙነት </li>
                        <li><strong>8. ወ/ሮ እስከዳር ጥላሁን </strong>: ሒሳብ ክፍል</li>
                        <li><strong>9. አቶ ቢረሳው </strong>: ቁጥጥር</li>
                      </ul>
                      
                    </div>
                  </div>
                </div>
                
            </div>
</section>
{% endblock %}