{% extends 'base.html' %}

{% block content %}

{% load static %}
<section class="" style="background-color: #f0ebf8;">
    <div class="container py-5 h-100">
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-4 col-sl-6">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        QR Code Generator
                    </div>
                    <div class="card-body">
                    <p class="card-text">You can generate church website qr code using below button and it will automatically <strong>Download</strong> in your local computer and then got to your download location and then you can print out.</p>
                    <a class="btn btn-primary" href="{% url 'qrcode' %}">Generate Church Website QR Code</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sl-6">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        Manage School Course
                    </div>
                    <div class="card-body">
                    <p class="card-text"><strong>Church School Teachers</strong> can upload or remove or update learning material with respect to his or her assigned course in the Manage Course page. Please be responsible!</p>
                    <a class="btn btn-primary" href="{% url 'add_course' %}">Manage School Course</a>
                    </div>
                </div>
            </div>
            {% if user.is_superuser %}
            <div class="col-md-4 col-sl-6">
                <div class="card">
                    <div class="card-header" style="text-align: center;">
                        Manage Church Events
                    </div>
                    <div class="card-body">
                    <p class="card-text"><strong>Administrator</strong> can approve upcoming events or unapproved active events, delete and update all available events from the approval page event lists. Please be responsible!.</p>
                    <a class="btn btn-primary" href="{% url 'event_approval' %}">Approve Upcoming Events</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
            
            <hr class="featurette-divider">
            <div class="table-responsive">
                <fieldset class="border rounded-3 p-3">
                
                    <legend class="float-none w-auto px-3">Upload or Edit Images</legend>
                    <br/>

                    <table class="table table-striped table-hover table-bordered table-re">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Web Link</th>
                            <th class="d-none d-sm-block" scope="col">Description</th>
                            <th  scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for image in image_list %}
                            <tr>
                                <td>{{ image.title }}</td>
                            
                                <td >{{ image.web_link }}</td>
                                <td>{{ image.body }}</td>
                                <td>
                                
                                <div class="form-check">
                                    <a href="{% url 'delete_image' image.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                                </div>
                                </td>
                            </tr>
                        {% endfor %}   
        
                        </tbody>
                    </table>
                    <hr class="featurette-divider">
                    <p class="lead">Add New Image</p>
                    {% if count > 7 %}
                    <div class="alert alert-info" role="alert">
                        FYI: You have enogh image uploaded! if you want to add more, Please delete at least one image first!
                    </div>
                
                    {% else %}
                    {% if submitted %}
                    <div style="margin-top: 20px;" class="alert alert-warning alert-dismissible fade show" role="alert">
                            Your Image Was Uploaded Succefully!!!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <a href="{% url 'admin_page' %}">Add More Image</a>
                    <br/>
                    {% else %}
                    <form action="" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}

                        {{ form.as_p }}

                        <input type="submit" class="btn btn-primary">

                    </form>
                    {% endif %}
                    {% endif %}

                <br/>	
                </fieldset>
            </div>

        {% else %}
        <h1>Sorry! You Must Be Logged In To View This Page...</h1>

        <a href="{% url 'login' %}">Login Here</a>
        {% endif %}
    </div>
</section>
{% endblock %}