{% extends 'base.html' %}

{% block content %}


{% load static %}
<section class="vh-100" style="background-color: #f0ebf8;">
    <div class="container py-5 h-100">
        {% if user.is_authenticated %}
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    QR Code Generator
                </div>
                <div class="card-body">
                <p class="card-text">You can generate church website qr code using below button and it will automatically <strong>Download</strong> in your local computer and then got to your download location and then you can print out.</p>
                <a class="btn btn-primary" href="{% url 'qrcode' %}">Generate Church Website QR Code</a>
                </div>
            </div>
            <hr class="featurette-divider">
            <hr class="featurette-divider">
            <div class="container">
                <fieldset class="border rounded-3 p-3">
                
                    <legend class="float-none w-auto px-3">Upload or Edit Images</legend>
                    <br/>

                    <div class="container text-center mb-5 mt-5">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><a href="https://plugins.krajee.com/file-input" target="_blank"><b>File Upload With Sortable, Remove Options</b></a></h4>
                            </div>
                        </div>
                    </div>
                    
                    <section class="bg-diffrent">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8">
                                    <div class="file-upload-contain">
                                        <input id="multiplefileupload" type="file" accept=".jpg,.gif,.png" multiple />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                <br/><br/>	
                </fieldset>
                
        
            </div>
       

        {% else %}
        <h1>Sorry! You Must Be Logged In To View This Page...</h1>

        <a href="{% url 'login' %}">Login Here</a>
        {% endif %}
    </div>
    

</section>
{% endblock %}