{% extends 'base.html' %}

{% block content %}
<br>
<h1 style="text-align: center;">ተጨማሪ ማጣቀሻዎች</h1>
<div class="container-fluid">
    <div class="card-group">
        <div class="card text-center" style="width: 20rem;">
            <div class="card-header">
                ኦርቶዶክስ ተዋህዶ መጽሐፍ ቅዱሳዊ ቀኖና
              </div>
            <div class="card-body">
                
                <p class="card-text">The <strong>Orthodox Tewahedo biblical canon</strong> is a version of the Christian Bible used in the two Oriental Orthodox churches of the Ethiopian and Eritrean traditions: the Ethiopian Orthodox Tewahedo Church and the Eritrean Orthodox Tewahedo Church. 
                    At 81 books, it is the largest and most diverse biblical canon in traditional Christendom..</p>
                <a href="https://bible.org/foreign/amharic/" target="_blank" class="btn btn-primary">Learn more</a>
            </div>
        </div>
        <div class="card text-center" style="width: 20rem;">
            
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card text-center" style="width: 20rem;">
            <div class="card-header">
                ኦርቶዶክስ ተዋህዶ መጽሐፍ ቅዱሳዊ ቀኖና
              </div>
            <div class="card-body">
                
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>
<hr class="featurette-divider">
<div class="ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/l0nzETH6MoA" target="_parent" title="YouTube video" allowfullscreen></iframe>
  </div>

{% endblock %}
