{% extends 'base.html' %}

{% block content %}
<section class="vh-100" style="background-color: #a0cad27b;">
  <div class="container py-5 h-100">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      
      <figure class="figure">
      
        <figcaption class="figure-caption">What is Doctrinal...</figcaption>
      </figure>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              1. Mystery of the Holy Trinity
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong>The Mystery of the Holy Trinity</strong> is the belief in the Triune God and is the core of Christian faith. This doctrine is a mystery since it could never be known unless revealed by God. “No one knows the Son except the Father and no one knows the Father except the Son and anyone to whom the Son chooses to reveal him” (Matthew 11:27). The One God in whom we believe, as is one in divinity and three as distinct persons. The Ethiopian Church accepts this teaching as absolutely central to its theology and spirituality. "There are three that bear record in heaven, the Father, the Word, and the Holy Ghost, and these three are one" (1 John 5:7).
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              2. Mystery of Incarnation
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <strong>Mystery of Incarnation</strong> 
              <span>
                is the saving entrance of God into human history. The main reason for the incarnation is because our disease needed a physician (Luke 19:10), our darkness needed illumination (Matthew 4:12-17; John 8:12), and our captivity needed a redeemer (Galatian 5:1). Thus, the Creedal confession reads, “For us men and for our salvation the Word of God came down from heaven, and by the power of the Holy Spirit became incarnate of the Virgin Mary and was made man.” The Ethiopian Orthodox Church upholds the miaphysite Christology of St. Cyril of Alexandria: “One United Incarnate Nature of God the Son.” In other words, when the two natures, “humanity and divinity,” united, Christ thus became one person and one nature from two natures. The union of the Word of God and humanity took place in the womb of the Blessed Virgin Mary. Therefore because of the incarnation, all the attributes of the flesh can be given to the Word of God and vice versa.
              </span>
              
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              3. Mystery of Baptism
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <strong>Mystery of Baptism</strong> 
            <span>
                The mystery of baptism is the main entrance into the Church and participation in its sacramental grace. It is called mystery because we receive the invisible grace of spiritual adoption through the visible performances of the sacrament. “He that believes and is baptized shall be saved; but he that believeth not shall be damned.” (Mark 16:16; John 19:34-35; Acts 2:38) Being the sacrament of initiation into Christian faith, Baptism is performed only once and never repeated (Ephesus 4:4-7; John 3:3-8).
            </span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-headingFour" aria-expanded="false" aria-controls="panelsStayOpen-headingFour">
                4. Mystery of Holy Communion
              </button>
            </h2>
            <div id="panelsStayOpen-headingFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                <strong>Mystery of Holy Communion</strong> 
              <span>
                Christ instituted the sacrament of Holy Communion during the Last Supper on Maundy Thursday. Our Lord Jesus Christ commands the disciples to remember His sacrificial death and triumphant resurrection in their Eucharistic celebration. In Matthew 26:26-30; Luke 22:19 St. Paul also says, "For as often as you eat this bread, and drink the cup, you do show the Lord`s death till He comes" (1Corinthian 11:26). Because man does not offer it to God, but God to humankind, the Eucharist is a sacrament through which we are far off from the dominance of sin and attain to communion with God (John 6:53-57). The Eucharist stands at the heart of the early Church*s faith and life. Subsequently, a sacrament became a meeting point on which all the issues of theology converge.
              </span>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-headingFive" aria-expanded="false" aria-controls="panelsStayOpen-headingFive">
                5. Mystery of Resurrection
              </button>
            </h2>
            <div id="panelsStayOpen-headingFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                <strong>The Mystery of the Resurrection</strong> 
              <span>
                The Mystery of the Resurrection is the mystery of the eternal life in the world to come after our bodily resurrection from dead.  This happens at the glorious Second Coming of Christ. Just as every seed must decay first, and then germinate (John 12:24; 1 Corinthian 15:26), so also we all will die and then rise up again to enjoy the eschatological hope of the Kingdom. The Church’s belief in our resurrection is based on the triumphant resurrection of Christ, the first fruit of our resurrection (1 Corinthian 15:20-22). The concluding phrase of the Creed affirms; “And we believe in the resurrection of the dead.”
              </span>
              </div>
            </div>
          </div>
    </div>
  </div>
</section>
{% endblock %}