{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="row featurette">
    <div class="col-md-6">
      <h3 class="featurette-heading fw-normal lh-1">A Brief History of Ethiopian Orthodox Tewahedo Church.</span></h3>
      <p class="lead">
        <p class="lead">
          Ethiopia, the land of Judeo-Christianity, is one of the most ancient predominantly Christian countries of the world. It is marked with a fascinating history, unique civilization, culture and religious life. The Book of Genesis recounts: “And the name of the second river is Ghion: the same is it that compasses the whole land of Ethiopia” (Geneses 2:13). The Psalmist David also says: “Let Ethiopia hasten to stretch out her hands to God” (Psalms 68:31).
        </p>
        <p class="lead">
        Furthermore, historical and archaeological evidences reveal another interesting fact that Ethiopia is the only African country, which has developed its own alphabets and written language. This great land and its people were known by the ancient Greek poets and historians such as Homer, who referred to them as, “Blameless Race.” Herodotus also indicated the country’s landscape as the area south of Egypt and around the Red Sea extending as far as the Indian Ocean. He said that the Ethiopians “lived a long life” and characterized them as “the most just men.”
      </p>
    </p>
    </div>
    <div class="col-md-6">
      
      <img src="{% static 'website/img/core-img/EthiopiaChurch.jpg' %}" width="500" height="500" class="bd-placeholder-img-lg d-none d-md-block" alt="Ethiopian Church">
    </div>
  </div>

  {% endblock %}