{% load static %}
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #69bcf8;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index'%}">
          <img src="{% static 'website/img/core-img/logo.png' %}" width="75" height="75" alt="D.B.K.G">ደ/ብሥ/ቅ/ገብርኤል ወቅድስት አርሴማ የኢ/ኦ/ተ/ቤ/ክ
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <br>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul  class="navbar-nav me-auto mb-2 mb-md-0">
          
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="{% url 'all_events' %}">Events(በዓላት)</a>
            </li>
            <li class="nav-item dropdown">
                <a style="color: white;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services(አገልግሎት)
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfppgh4rLbpiOW4K6x45pP_IgXCOoeGzTA2vL7RaAIP03E-lg/viewform" target="_blank">Membership (አባልነት)</a></li>
                    <li><a class="dropdown-item" href="#christeningmodal" data-bs-toggle="modal">Christening (ክርስትና)</a></li>
                    <li><a class="dropdown-item" href="#weddingmodal" data-bs-toggle="modal">Wedding (ሰርግ)</a></li>
                    <li><a class="dropdown-item" href="#memorialmodal" data-bs-toggle="modal">Wake Services (ፍትሓት) </a></li>                 
                    <li><a class="dropdown-item" href="{% url 'all_course' %}">Kids School (የልጆች ትምህርት)</a></li>
                </ul>
            </li>
                     
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="{% url 'contact' %}">Contact(መገናኛ)</a>
              </li>
              <li class="nav-item dropdown">
                <a style="color: white;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Support(እርዳታ)
                </a>
                <ul class="dropdown-menu">
                
                  <li class="nav-item">
                      <a class="dropdown-item" href="https://www.paypal.com/donate/?hosted_button_id=X8YU8VQ68EXY4" target="_blank">Donate (መለገስ)</a>
                    </li>
                    <li><a class="dropdown-item" href="https://www.paypal.com/donate/?hosted_button_id=LV3KU2XJYSXB4" target="_blank">Vow (ስለት) </a></li>
                    <li><a class="dropdown-item" href="https://www.paypal.com/donate/?hosted_button_id=YWQ2AZ5DWC838" target="_blank">Offering (ሙዳይ) </a></li>
                    <li><a class="dropdown-item" href="https://www.paypal.com/donate/?hosted_button_id=PWDU6VNYAV83Y" target="_blank">Tithing (አስራት)</a></li>
                
                </ul>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a style="color: white;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu">            
                  <li><a class="dropdown-item" href="{% url 'register_user' %}" >Register User</a></li>
                  <li><a class="dropdown-item" href="{% url 'add_event' %}" >Add Events </a></li> 
                  {% if user.is_superuser %}
                      <li class="nav-item">
                        <a class="dropdown-item" href="{% url 'admin_page' %}">Admin Page</a>
                    </li>
                
                {% endif %}                
                  
              </ul>
          </li>
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>

            {% else %}

            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            {% endif %}
              
              
              
          </ul>
          <span style="font-weight: bold;"  class="message">"ሁሉም በእርሱ ሆነ"</span>
          
        </div>
        
      </div>
      
    </nav>
    
    <div class="container">
      
      <div class="row">
        <div class="modal fade" id="weddingmodal" tabindex="-1" aria-labelledby="weddingmodal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <img src="{% static 'website/img/core-img/wedding.jpg' %}" width="100" height="100" alt="Wedding Information">
                <h5 class="modal-title Information" id="weddingmodal">&nbsp; Wedding Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  Debre Bisrat Saint Gabriel And Arsema Ethiopian Orthodox Tewahedo Church provides <strong>Wedding services on Sundays from 4:30 A.M. to 12:00 P.M.</strong> 
                  The church will provide the religious service for the bride and groom. For further questions or explanation,
                  please contact the church by Phone: <a href="tel:+14253299287">(425) 329-9287 </a> or Email: <a href="mailto:main.dbkg@gmail.com">main.dbkg@gmail.com</a> or in person.
                </p>
               
                <p>
                  በደብረ ብሥራት ቅዱስ ገብርኤል ወቅድስት አርሴማ የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን የሰርግ አገልግሎት እሁድ ከጠዋቱ 4፡30 AM.  ጀምሮ ይሰጣል። እስከ ቀኑ 12፡00 PM. 
                  በቤተክርስቲያን ውስጥ ለሙሽሪት እና ለሙሽራው ሃይማኖታዊ አገልግሎት ትሰጣለች:: 
                  ለተጨማሪ ጥያቄዎች ወይም ማብራሪያ፣ በስልክ ቁጥር <a href="tel:+14253299287">(425) 329-9287 </a> ወይም በኢሜል - <a href="mailto:main.dbkg@gmail.com">main.dbkg@gmail.com</a>
                  ወይም በአካል በመቅረብ የቤተክርስቲያኑን አስተዳደር ያነጋግሩ። 
                </p>>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info btn-lg" data-bs-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="memorialmodal" tabindex="-1" aria-labelledby="memorialmodal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <img src="{% static 'website/img/core-img/memorial.jpg' %}" width="100" height="100" alt="Memorial Information">
                <h5 class="modal-title Information" id="memorialmodal">&nbsp; Memorial Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  Debre Bisrat Saint Gabriel And Arsema Ethiopian Orthodox Tewahedo Church provides <strong>memorial service for orthodox believers who depart from this world.</strong> 
                  If you need further explanation or have questions regarding the service, please contact the church administrator
                  by Phone: <a href="tel:+14253299287">(425) 329-9287 </a> or Email: <a href="mailto:main.dbkg@gmail.com">main.dbkg@gmail.com</a> or in person.
                </p>
                
                <p>
                  በደብረ ብሥራት ቅዱስ ገብርኤል ወቅድስት አርሴማ የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን ከዚህ ዓለም በሞት ለተለዪ ኦርቶዶክሳውያን ምእመናን የመታሰቢያ አገልግሎት ትሰጣለች። 
                  ለተጨማሪ ጥያቄዎች ወይም ማብራሪያ፣ በስልክ ቁጥር <a href="tel:+14253299287">(425) 329-9287 </a> ወይም በኢሜል - <a href="mailto:main.dbkg@gmail.com">main.dbkg@gmail.com</a> 
                  ወይም በአካል በመቅረብ የቤተክርስቲያኑን አስተዳደር ያነጋግሩ።
                </p>
               
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info btn-lg" data-bs-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
          <div class="modal fade" id="christeningmodal" tabindex="-1" aria-labelledby="christeningmodal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <img src="{% static 'website/img/core-img/christenin.jpg' %}" width="100" height="100" alt="Christening Information">
                  <h5 class="modal-title Information" id="christeningmodal">&nbsp; Christening Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>
                    Debre Bisrat Saint Gabriel And Arsema Ethiopian Orthodox Tewahedo Church provides <strong>Christening Service starts every Sundays exactly at 05:00 A.M.</strong> 
                    Please contact the office administrator ahead of time. by Phone: <a href="tel:+14253299287">(425) 329-9287</a> or
                    Email: <a href="mailto:main.dbkg@gmail.com">maindbkg@gmail.com</a> or in person. 
                    If you can print this <a href="#">Form</a> and bring a signed copy with you. Please be there on time.
                  </p>
                  
                  <p>
                    በደብረ ብሥራት ቅዱስ ገብርኤል ወቅድስት አርሴማ የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ ቤተ ክርስቲያን የክርስትና አገልግሎት ዘወትር እሁድ ከጠዋቱ 5፡00 AM ይጀምራል።
                    እባክዎን የቢሮውን አስተዳዳሪ አስቀድመው ያነጋግሩ። ወይም በስልክ ቁጥር <a href="tel:+14253299287">(425) 329-9287</a> ወይም በኢሜል - <a href="mailto:main.dbkg@gmail.com">main.dbkg@gmail.com</a>  
                    ለቤተክርስቲያኑ አስተዳደር በቅድሚያ ያሳውቁ። ከቻሉ ይህንን ለክርስትና የተዘጋጀውን ቅጽ በማተም ፎርሙን በመሙላት እና በመፈረም ከእርስዎ ጋር ይዘው ይምጡ። 
                    እባካችሁ በሰዓቱ ተገኙ።
                  </p>
                
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info btn-lg" data-bs-dismiss="modal">Ok</button>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
  </header>