{% extends 'base.html' %}

{% block content %}
<section class="vh-100" style="background-color: #f0ebf8">
  <div class="container py-5 h-100">
    <div class="table-responsive tblaudio">
        <table class="table caption-top table-striped">
            <caption style="font-size: large;">List of Spritual Records</caption>
            <thead>
              <tr>
                <th scope="col"></th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/liturgy.html" target="_blank">ሥርዓተ ቅዳሴ ያድምጡ</a></td>
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/liturgy.html" target="_blank">The Ethiopian Liturgy</a></td>
                
              </tr>
              <tr>
                
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/maheleteyared.html" target="_blank">የቅዱስ ያሬድ ማኅሌት ያድምጡ </a></td>
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/maheleteyared.html" target="_blank">The Hymn of St. Yared</a></td>
                
              </tr>
              <tr>
                
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/horologium.html" target="_blank">የሰዓታት ዜማ ያድምጡ</a></td>
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/horologium.html" target="_blank">Horologium (Seatat)</a></td>
              
              </tr>
              <tr>
                
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/passionfriday.html" target="_blank">የዕለት ዓርብ ሥረዓተ ጸሎት ያድምጡ</a></td>
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/passionfriday.html" target="_blank">The Good Friday service</a></td>
              
              </tr>
              <tr>
                
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/traditional.html" target="_blank">የበገና ዘለሰኛ ዜማ ያድምጡ</a></td>
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/traditional.html" target="_blank">Ethiopian Traditional songs</a></td>
              
              </tr>
              <tr>
                
                <td><a href="https://www.ethiopianorthodox.org/amharic/yeqolotbet/wudasemarzema.html" target="_blank">የውዳሴ ማርያም ዜማ ያድምጡ</a></td>
                <td><a href="https://www.ethiopianorthodox.org/amharic/yeqolotbet/wudasemarzema.html" target="_blank">Litsen to Praise of Mary</a></td>
              
              </tr>

              <tr>
                
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/songs.html" target="_blank">የበዓላትና የዘወትር  መዝሙራት ያድምጡ</a></td>
                <td><a href="https://www.ethiopianorthodox.org/churchmusic/songs.html" target="_blank">Daily and Festive Season Songs</a></td>
              
              </tr>
              
            </tbody>
          </table>
    </div>
  </div>
</section>
{% endblock %}

