{% extends 'base.html' %}

{% block content %}
	
	<h3 style="margin-top: 5px; text-align: center;">Available Learning materials</h3>
<br/>
{% regroup course_list by grade as courses %}

<p class="lead"><i class="fa fa-pencil" style="color: crimson;" aria-hidden="true"></i><a class="link-info" href="#" target="_blank"> የልጆች ትምህርት ክፍል ምዝገባ ቅጽ</a></p>

{% for c in courses %}
<div class="table-responsive-md">
	<button type="button" class="btn btn-success">
		Grade Level: <span class="badge bg-secondary">{{ c.grouper | capfirst  }}</span>
	</button>
<table class="table table-striped table-hover table-bordered">
	
    <thead>
        <tr>
			<th scope="col">Subject</th>
			<th scope="col">Website Address</th>
			<th class="d-none d-md-block" scope="col">Description</th>
			<th  scope="col">File</th>
			{% if user.is_authenticated %}
			<th  scope="col">Action</th>
			{% endif %}
        </tr>
    </thead>
    <tbody>
		
		
        {% for course in c.list %}
		<tr>
            <td class="col-md-2">
				{{ course.subject }}
			</td>
            <td class="col-md-3">
				<a href="{{ course.web_link }}" target="_blank">{{ course.web_link }}</a>
			</td>
            <td class="d-none d-md-block text-wrap">
				{{ course.description }}
			</td>
			<td class="col-md-1">
				<a href="{% url 'download_file' course.id %}">Download</a>
			</td>
			{% if user.is_authenticated %}
			<td class="col-md-2">
				<a href="{% url 'update_course' course.id %}" class="btn btn-outline-secondary btn-sm">Update</a>

				<a href="{% url 'delete_course' course.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
			</td>
			{% endif %}
		</tr>
	{% endfor %}
</tbody>
</table>
{% endfor %}
</div>
{% endblock %}